<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Thanks!</h1>
      <h4>Your email address "{{ email }}" was successfully confirmed! Your username "{{ usur }}" is activated."</h4>
    </div>
  </body>
</html>
